.rex-form-group .select2 .select2-search textarea {
    min-height: 0;
}

.rex-theme-dark .select2-container--default .select2-selection--multiple {
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(27, 35, 44, 0.8);
    border-color: rgba(21, 28, 34, 0.8);
}

.rex-theme-dark .select2-container--default .select2-results__option.select2-results__option--selectable {
    background-color: #1A1A1D;
    color: white;
}

.rex-theme-dark .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #52525E;
    color: white;
}

